@charset "UTF-8";
@keyframes slideshow {
  /* 非表示状態からフェードインを開始する */
  0% {
    opacity: 0;
    transform: scale(1);
    /* ズームのための指定 */
  }
  /* フェードインを完了し完全表示する */
  6% {
    opacity: 1;
  }
  /* ここまで完全表示を維持したらフェードアウトを開始する */
  33% {
    opacity: 1;
  }
  /* フェードアウトを完了し非表示にする */
  44% {
    opacity: 0;
    transform: scale(1.1);
    /* ズームのための指定 */
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.article {
  position: relative;
  overflow: hidden;
  padding: 6.25vw 9.609375vw;
  z-index: 1;
}
@media screen and (max-width: 960px) {
  .article {
    padding: 6.25vw 2.0833333333vw;
  }
}
@media screen and (max-width: 520px) {
  .article {
    padding: 6.6666666667vw 4.4444444444vw 4.4444444444vw;
  }
}
.article_msg {
  font-size: 16px;
  font-size: 1.25vw;
  padding-bottom: 6.25vw;
}
@media screen and (max-width: 960px) {
  .article_msg {
    font-size: 14px;
    font-size: 1.8229166667vw;
    padding-bottom: 6.25vw;
  }
}
@media screen and (max-width: 520px) {
  .article_msg {
    font-size: 14px;
    font-size: 3.8888888889vw;
    padding-bottom: 8.8888888889vw;
    line-height: 1.6em;
  }
}
.article_list {
  position: relative;
  display: block;
  z-index: 1;
}
.article_list li {
  display: block;
  margin-bottom: 2.8125vw;
}
@media screen and (max-width: 960px) {
  .article_list li {
    margin-bottom: 4.1666666667vw;
  }
}
@media screen and (max-width: 520px) {
  .article_list li {
    margin-bottom: 8.8888888889vw;
  }
}
.article_list li:nth-child(even) {
  margin-left: 16.71875vw;
}
@media screen and (max-width: 960px) {
  .article_list li:nth-child(even) {
    margin-left: 12.5vw;
  }
}
@media screen and (max-width: 520px) {
  .article_list li:nth-child(even) {
    margin-left: 0vw;
  }
}
.article_wrap {
  width: 64.140625vw;
  height: 36.09375vw;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .article_wrap {
    width: 83.3333333333vw;
    height: 46.875vw;
  }
}
@media screen and (max-width: 520px) {
  .article_wrap {
    width: 91.1111111111vw;
    height: auto;
  }
}
.article_wrap a {
  display: block;
  width: 100%;
  height: 100%;
}
.article_wrap img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.4s;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 520px) {
  .article_wrap img {
    position: relative;
    height: 50.8333333333vw;
  }
}
.article_wrap:hover img {
  transform: scale(1.06);
  opacity: 0.9;
}
.article_info {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 520px) {
  .article_info {
    position: relative;
    margin-top: 1.6666666667vw;
  }
}
.article_up {
  display: inline-flex;
}
.article_left {
  position: relative;
  display: inline-block;
  padding: 1.09375vw 1.875vw;
  background-color: rgba(38, 50, 158, 0.7);
}
@media screen and (max-width: 960px) {
  .article_left {
    padding: 1.5625vw 2.0833333333vw;
  }
}
@media screen and (max-width: 520px) {
  .article_left {
    padding: 2.2222222222vw;
    background-color: #26329e;
  }
}
.article_left::before {
  position: absolute;
  content: "";
  display: block;
  width: 0.078125vw;
  height: 4.0625vw;
  background-color: #ffffff;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 960px) {
  .article_left::before {
    width: 0.1302083333vw;
    height: 5.46875vw;
  }
}
@media screen and (max-width: 520px) {
  .article_left::before {
    width: 0.2777777778vw;
    height: 4.7222222222vw;
  }
}
.article_nyuusya {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  font-size: 1.09375vw;
  margin-bottom: 0.625vw;
}
@media screen and (max-width: 960px) {
  .article_nyuusya {
    font-size: 12px;
    font-size: 1.5625vw;
    margin-bottom: 1.0416666667vw;
  }
}
@media screen and (max-width: 520px) {
  .article_nyuusya {
    display: inline-block;
    font-size: 12px;
    font-size: 3.3333333333vw;
    margin-right: 1.6666666667vw;
    margin-bottom: 0vw;
    line-height: 5.5555555556vw;
  }
}
.article_bumon {
  color: #ffffff;
  font-size: 14px;
  font-size: 1.09375vw;
  font-weight: 500;
}
@media screen and (max-width: 960px) {
  .article_bumon {
    font-size: 14px;
    font-size: 1.8229166667vw;
  }
}
@media screen and (max-width: 520px) {
  .article_bumon {
    display: inline-block;
    font-size: 12px;
    font-size: 3.3333333333vw;
    margin-bottom: 0vw;
    line-height: 5.5555555556vw;
    padding-right: 1.1111111111vw;
  }
}
.article_right {
  position: relative;
  display: inline-flex;
  align-items: end;
  padding: 1.5625vw 1.875vw 1.5625vw 1.875vw;
  background-color: rgba(38, 50, 158, 0.7);
}
@media screen and (max-width: 960px) {
  .article_right {
    padding: 2.8645833333vw 2.6041666667vw 2.8645833333vw 2.0833333333vw;
  }
}
@media screen and (max-width: 520px) {
  .article_right {
    display: inline-block;
    padding: 2.2222222222vw;
    background-color: #26329e;
  }
}
.article_name {
  color: #ffffff;
  font-size: 18px;
  font-size: 1.40625vw;
  font-weight: 500;
}
@media screen and (max-width: 960px) {
  .article_name {
    font-size: 16px;
    font-size: 2.0833333333vw;
  }
}
@media screen and (max-width: 520px) {
  .article_name {
    font-size: 12px;
    font-size: 3.3333333333vw;
    line-height: 5.5555555556vw;
    padding: 0 1.1111111111vw;
  }
}
.article_heading {
  display: block;
  width: 64.140625vw;
  padding: 1.5625vw 1.875vw;
  font-size: 18px;
  font-size: 1.40625vw;
  font-weight: 500;
  line-height: 2em;
  background-color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 960px) {
  .article_heading {
    width: 83.3333333333vw;
    padding: 2.6041666667vw 2.6041666667vw;
    font-size: 16px;
    font-size: 2.0833333333vw;
  }
}
@media screen and (max-width: 520px) {
  .article_heading {
    width: 90.5555555556vw;
    padding: 1.6666666667vw 0 0 1.1111111111vw;
    font-size: 14px;
    font-size: 3.8888888889vw;
    background-color: rgba(255, 255, 255, 0);
  }
}

.background {
  position: absolute;
  display: flex;
  width: 120vw;
  top: -3.125vw;
  left: -10.390625vw;
  flex-direction: column;
}
.background li {
  width: 50vw;
  height: 50vw;
  margin-left: 62.5vw;
  margin-bottom: 0vw;
}
@media screen and (max-width: 520px) {
  .background li {
    display: none;
  }
}
.background li:nth-child(even) {
  margin-left: 0vw;
}
.background img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}