@charset "UTF-8";
@keyframes slideshow {
  /* 非表示状態からフェードインを開始する */
  0% {
    opacity: 0;
    transform: scale(1);
    /* ズームのための指定 */
  }
  /* フェードインを完了し完全表示する */
  6% {
    opacity: 1;
  }
  /* ここまで完全表示を維持したらフェードアウトを開始する */
  33% {
    opacity: 1;
  }
  /* フェードアウトを完了し非表示にする */
  44% {
    opacity: 0;
    transform: scale(1.1);
    /* ズームのための指定 */
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.category {
  position: relative;
  display: block;
  padding: 5.78125vw 9.609375vw 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.category li {
  font-size: 16px;
  font-size: 1.25vw;
  color: #67635F;
  padding-bottom: 1.875vw;
  margin-right: 2.5vw;
}
.category ._current {
  position: relative;
  color: #26329E;
}
.category ._current::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 0.078125vw;
  background-color: #26329E;
  left: 0;
  bottom: 1.71875vw;
}
.category::before {
  position: absolute;
  content: "";
  display: block;
  width: 0.46875vw;
  height: 6.40625vw;
  background-color: #26329E;
  top: 5.3125vw;
  left: 7.03125vw;
}

.pic {
  position: relative;
  width: 100vw;
  padding: 2.1875vw 9.609375vw 4.21875vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.578125vw;
}
.pic li {
  width: 25vw;
  margin-top: 3.515625vw;
}
.pic li img {
  width: 25vw;
  height: 16.640625vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.pic li h3 {
  margin-top: 1.25vw;
  font-size: 16px;
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 1.6em;
}

.pager {
  display: flex;
  justify-content: center;
  padding-bottom: 6.25vw;
}
.pager li {
  width: 3.75vw;
  height: 3.359375vw;
  line-height: 3.359375vw;
  text-align: center;
  font-size: 20px;
  font-size: 1.5625vw;
  border: solid 0.078125vw #000000;
  margin-left: 0.78125vw;
}
.pager .pre {
  position: relative;
  margin-left: 0;
}
.pager .pre::before {
  position: absolute;
  content: "";
  display: block;
  width: 30%;
  height: 38%;
  background-color: #000000;
  -webkit-clip-path: polygon(0 50%, 100% 0%, 100% 100%);
          clip-path: polygon(0 50%, 100% 0%, 100% 100%);
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
}
.pager .pre._hidden {
  display: none;
}
.pager .next {
  position: relative;
}
.pager .next::before {
  position: absolute;
  content: "";
  display: block;
  width: 30%;
  height: 38%;
  background-color: #000000;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
          clip-path: polygon(0 0, 0 100%, 100% 50%);
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
}
.pager .next._hidden {
  display: none;
}