@charset "UTF-8";
@keyframes slideshow {
  /* 非表示状態からフェードインを開始する */
  0% {
    opacity: 0;
    transform: scale(1);
    /* ズームのための指定 */
  }
  /* フェードインを完了し完全表示する */
  6% {
    opacity: 1;
  }
  /* ここまで完全表示を維持したらフェードアウトを開始する */
  33% {
    opacity: 1;
  }
  /* フェードアウトを完了し非表示にする */
  44% {
    opacity: 0;
    transform: scale(1.1);
    /* ズームのための指定 */
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fv_heading {
  font-size: 24px;
  font-size: 1.875vw;
  font-weight: 500;
  line-height: 2em;
  padding: 6.25vw 9.609375vw 5vw;
}
.fv_wrap {
  position: relative;
}
.fv_wrap::after {
  position: absolute;
  content: "";
  display: block;
  width: 100vw;
  height: 70%;
  background-color: #eeeeee;
  bottom: 0;
  z-index: -1;
}
.fv_img {
  width: 64.140625vw;
  height: 49.21875vw;
  margin-left: 9.609375vw;
  padding-bottom: 7.03125vw;
}
.fv_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fv_txtbox {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3.4375vw 3.4375vw;
  background-color: #ffffff;
}
.fv_info {
  position: relative;
  width: 36.09375vw;
}
.fv_info::after {
  position: absolute;
  bottom: -0.625vw;
  content: "";
  display: block;
  width: 29.6875vw;
  height: 0.078125vw;
  background-color: #000000;
}
.fv_info p {
  color: #26329E;
  font-size: 18px;
  font-size: 1.40625vw;
  font-weight: 500;
  padding-bottom: 0.625vw;
}
.fv_name {
  margin-top: 1.875vw;
  font-size: 24px;
  font-size: 1.875vw;
  color: #000000;
  font-weight: 400;
}

.main {
  background: linear-gradient(90deg, #ffffff 60%, #eeeeee 100%);
  padding-top: 3.75vw;
  padding-bottom: 6.25vw;
}
.main_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 9.609375vw;
  padding-right: 15.390625vw;
}
.main_q {
  position: relative;
  display: inline-block;
  color: #26329E;
  font-size: 18px;
  font-size: 1.40625vw;
  font-weight: 500;
  padding-bottom: 2.1875vw;
}
.main_q span {
  font-size: 32px;
  font-size: 2.5vw;
}
.main_q::after {
  position: absolute;
  bottom: 1.875vw;
  content: "";
  display: block;
  width: 100%;
  height: 0.15625vw;
  background-color: #26329E;
}
.main_a {
  font-size: 16px;
  font-size: 1.25vw;
  line-height: 2em;
  padding-left: 0.3125vw;
  padding-bottom: 5vw;
}
.main_btn {
  width: 19.21875vw;
  height: 5vw;
  background-color: #26329E;
  color: #ffffff;
  font-size: 18px;
  font-size: 1.40625vw;
  font-weight: 500;
  line-height: 5vw;
  text-align: center;
  margin-top: 1.875vw;
}