@charset "UTF-8";
@keyframes slideshow {
  /* 非表示状態からフェードインを開始する */
  0% {
    opacity: 0;
    transform: scale(1);
    /* ズームのための指定 */
  }
  /* フェードインを完了し完全表示する */
  6% {
    opacity: 1;
  }
  /* ここまで完全表示を維持したらフェードアウトを開始する */
  33% {
    opacity: 1;
  }
  /* フェードアウトを完了し非表示にする */
  44% {
    opacity: 0;
    transform: scale(1.1);
    /* ズームのための指定 */
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.btnblack {
  position: relative;
  margin: 0 1.25vw;
}
@media screen and (max-width: 960px) {
  .btnblack {
    margin: 0 2.0833333333vw;
  }
}
@media screen and (max-width: 520px) {
  .btnblack {
    margin: 0 2.2222222222vw;
  }
}
.btnblack a {
  display: inline-flex;
  justify-content: start;
  align-items: center;
}
.btnblack a .btnblack_txt {
  position: relative;
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  font-size: 1.5625vw;
  margin: 0 2.1875vw 0 0;
}
@media screen and (max-width: 960px) {
  .btnblack a .btnblack_txt {
    font-size: 20px;
    font-size: 2.6041666667vw;
    margin: 0 3.6458333333vw 0 0;
  }
}
@media screen and (max-width: 520px) {
  .btnblack a .btnblack_txt {
    font-size: 18px;
    font-size: 5vw;
    margin: 0 3.8888888889vw 0 0;
  }
}
.btnblack a .btnblack_txt::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.078125vw;
  bottom: -0.15625vw;
  background-color: #000000;
  transition: 0.2s ease-in-out;
  transform-origin: left;
  transform: scale(0, 1);
}
@media screen and (max-width: 960px) {
  .btnblack a .btnblack_txt::after {
    height: 0.1302083333vw;
    bottom: -0.2604166667vw;
  }
}
@media screen and (max-width: 520px) {
  .btnblack a .btnblack_txt::after {
    height: 0.2777777778vw;
    bottom: -0.5555555556vw;
  }
}
.btnblack a .btnimg_wrap {
  position: relative;
  width: 3.28125vw;
  height: 3.28125vw;
}
@media screen and (max-width: 960px) {
  .btnblack a .btnimg_wrap {
    width: 5.46875vw;
    height: 5.46875vw;
  }
}
@media screen and (max-width: 520px) {
  .btnblack a .btnimg_wrap {
    width: 8.8888888889vw;
    height: 8.8888888889vw;
  }
}
.btnblack a .btnimg_wrap img {
  position: absolute;
  display: block;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 2.265625vw;
  height: 0.46875vw;
  transition: 0.2s ease-in-out;
  z-index: 10;
}
@media screen and (max-width: 960px) {
  .btnblack a .btnimg_wrap img {
    width: 3.7760416667vw;
    height: 0.78125vw;
  }
}
@media screen and (max-width: 520px) {
  .btnblack a .btnimg_wrap img {
    width: 6.6666666667vw;
    height: 1.3888888889vw;
  }
}
.btnblack a .btnimg_wrap .btn_box {
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid 0.078125vw #000000;
  border-radius: 50%;
  transform: scale(0.8) rotate(0deg);
  transition: 0.24s ease-in-out;
  z-index: 1;
}
@media screen and (max-width: 960px) {
  .btnblack a .btnimg_wrap .btn_box {
    border-width: 0.1822916667vw;
  }
}
.btnblack a:hover .btnblack_txt::after {
  transform: scale(1, 1);
}
.btnblack a:hover img {
  transform: translateY(-50%);
}
.btnblack a:hover .btn_box {
  border-radius: 0%;
  transform: scale(1.2) rotate(45deg);
  background-color: #ffffff;
}

.btn_blue {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-size: 1.5625vw;
  font-weight: 500;
  letter-spacing: 0.1em;
  background-color: #26329E;
  padding: 0.9375vw;
  border: solid 0.234375vw #26329E;
  transition: 0.2s ease-in-out;
}
.btn_blue img {
  position: absolute;
  top: 50%;
  right: 1.09375vw;
  transform: translate(-50%, -50%);
  display: block;
  width: 1.25vw;
  height: 1.796875vw;
  transition: 0.2s ease-in-out;
}

.btn_blue:hover {
  color: #26329E;
  background-color: #ffffff;
}
.btn_blue:hover img:nth-of-type(2) {
  opacity: 0;
}

.heading_c h2 {
  font-weight: 700;
  text-align: center;
  font-size: 48px;
  font-size: 3.75vw;
  padding-bottom: 1.09375vw;
}
@media screen and (max-width: 960px) {
  .heading_c h2 {
    font-size: 32px;
    font-size: 4.1666666667vw;
    padding-bottom: 0.78125vw;
  }
}
@media screen and (max-width: 520px) {
  .heading_c h2 {
    font-size: 32px;
    font-size: 8.8888888889vw;
    margin-bottom: 2.2222222222vw;
  }
}
.heading_c p {
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  font-size: 1.875vw;
}
@media screen and (max-width: 960px) {
  .heading_c p {
    font-size: 16px;
    font-size: 2.0833333333vw;
  }
}
@media screen and (max-width: 520px) {
  .heading_c p {
    font-size: 16px;
    font-size: 4.4444444444vw;
  }
}

.heading_l h2 {
  font-weight: 700;
  font-size: 28px;
  font-size: 2.1875vw;
  color: #000000;
  padding-bottom: 0.625vw;
}
@media screen and (max-width: 960px) {
  .heading_l h2 {
    font-size: 20px;
    font-size: 2.6041666667vw;
    padding-bottom: 0.5208333333vw;
  }
}
@media screen and (max-width: 520px) {
  .heading_l h2 {
    font-size: 20px;
    font-size: 5.5555555556vw;
    padding-bottom: 1.1111111111vw;
  }
}
.heading_l p {
  font-weight: 700;
  font-size: 14px;
  font-size: 1.09375vw;
  color: #26329E;
}
@media screen and (max-width: 960px) {
  .heading_l p {
    font-size: 12px;
    font-size: 1.5625vw;
  }
}
@media screen and (max-width: 520px) {
  .heading_l p {
    font-size: 12px;
    font-size: 3.3333333333vw;
  }
}

html {
  font-family: "Zen Kaku Gothic New", sans-serif;
  scroll-behavior: smooth;
}

/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .header {
    display: none;
  }
}
.header_top {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}
@media screen and (max-width: 960px) {
  .header_top {
    flex-direction: row-reverse;
    justify-content: start;
  }
}
.header_top._active {
  background-color: #080084;
}
.header_title {
  font-family: "Noto Serif JP", serif;
  color: #26329E;
  height: 5.625vw;
  font-weight: bold;
  font-size: 16px;
  font-size: 1.25vw;
  box-sizing: border-box;
  padding-left: 1.25vw;
  line-height: 5.625vw;
}
@media screen and (max-width: 960px) {
  .header_title {
    font-size: 16px;
    font-size: 2.0833333333vw;
    padding-left: 2.0833333333vw;
    line-height: 9.375vw;
  }
}
@media screen and (max-width: 520px) {
  .header_title {
    font-size: 12px;
    font-size: 3.3333333333vw;
    padding-left: 2.7777777778vw;
    line-height: 16.1111111111vw;
  }
}
.header_title span {
  box-sizing: border-box;
  font-size: 24px;
  font-size: 1.875vw;
  line-height: 5.625vw;
}
@media screen and (max-width: 960px) {
  .header_title span {
    font-size: 24px;
    font-size: 3.125vw;
  }
}
@media screen and (max-width: 520px) {
  .header_title span {
    font-size: 20px;
    font-size: 5.5555555556vw;
  }
}
.header_inner {
  display: inline-flex;
}
.header_nav {
  display: inline-flex;
  justify-content: space-between;
  width: 39.0625vw;
  margin-right: 3.75vw;
}
.header_nav li {
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-size: 1.09375vw;
  letter-spacing: 0.08em;
  font-weight: 500;
  line-height: 5.625vw;
  color: #000000;
  transition: 0.2s all;
}
.header_nav li::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 1.875vw;
  width: 100%;
  height: 0.078125vw;
  transform: translateX(-100%);
  background-color: #26329E;
  transition: 0.2s all;
}
.header_nav li:hover {
  color: #26329E;
  transition: 0.2s all;
}
.header_nav li:hover::after {
  transform: translateX(0%);
}
@media screen and (max-width: 960px) {
  .header_nav {
    display: none;
  }
}
.header_logo {
  background-color: #080084;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.625vw;
  height: 5.625vw;
}
@media screen and (max-width: 960px) {
  .header_logo {
    width: 9.375vw;
    height: 9.375vw;
  }
}
@media screen and (max-width: 520px) {
  .header_logo {
    width: 16.1111111111vw;
    height: 16.1111111111vw;
  }
}
.header_logo img {
  display: block;
  width: 4.6875vw;
  height: 4.6875vw;
}
@media screen and (max-width: 960px) {
  .header_logo img {
    width: 8.59375vw;
    height: 8.59375vw;
  }
}
@media screen and (max-width: 520px) {
  .header_logo img {
    width: 15vw;
    height: 15vw;
  }
}

.hamburger {
  display: none;
  position: fixed;
  box-sizing: border-box;
  height: 9.375vw;
  z-index: 200;
}
@media screen and (max-width: 960px) {
  .hamburger {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 520px) {
  .hamburger {
    height: 16.1111111111vw;
  }
}
.hamburger .header_top {
  transition: 0.4s ease;
}
.hamburger .header_top .header_title {
  transition: 0.4s ease;
}
.hamburger_btn {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  top: 0.5208333333vw;
  right: 0.5208333333vw;
  width: 8.3333333333vw;
  height: 8.3333333333vw;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: solid 0.2604166667vw #080084;
  border-radius: 50%;
  color: #26329E;
  transition: 0.4s ease;
}
@media screen and (max-width: 520px) {
  .hamburger_btn {
    top: 1.1111111111vw;
    right: 1.1111111111vw;
    width: 13.8888888889vw;
    height: 13.8888888889vw;
    border: solid 0.2777777778vw #080084;
  }
}
.hamburger_btn p {
  display: inline-block;
  font-size: 12px;
  font-size: 1.5625vw;
  font-weight: 500;
  padding-top: 2.0833333333vw;
  transition: 0.4s ease;
}
@media screen and (max-width: 520px) {
  .hamburger_btn p {
    font-size: 11px;
    font-size: 3.0555555556vw;
    padding-top: 2.7777777778vw;
  }
}
.hamburger_btn .hamburger_close {
  display: none;
  color: #ffffff;
}
.hamburger_btn span,
.hamburger_btn span:before,
.hamburger_btn span:after {
  content: "";
  display: block;
  height: 0.2604166667vw;
  width: 4.6875vw;
  border-radius: 0.2604166667vw;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  margin-bottom: 3.125vw;
  transition: 0.4s ease;
}
@media screen and (max-width: 520px) {
  .hamburger_btn span,
  .hamburger_btn span:before,
  .hamburger_btn span:after {
    height: 0.2777777778vw;
    width: 8.3333333333vw;
    margin-bottom: 5vw;
    border-radius: 0.2777777778vw;
  }
}
.hamburger_btn span:before {
  background-color: #080084;
  top: -0.390625vw;
}
@media screen and (max-width: 520px) {
  .hamburger_btn span:before {
    top: -0.8333333333vw;
  }
}
.hamburger_btn span:after {
  background-color: #080084;
  top: 0.390625vw;
}
@media screen and (max-width: 520px) {
  .hamburger_btn span:after {
    top: 0.8333333333vw;
  }
}
.hamburger_menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: white;
  left: 100%;
  transition: 0.4s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 6.25vw;
}
@media screen and (max-width: 520px) {
  .hamburger_menu {
    padding: 0 4.4444444444vw;
  }
}
.hamburger_nav1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 0.1302083333vw #000000;
  width: 100%;
}
@media screen and (max-width: 520px) {
  .hamburger_nav1 {
    border-top: solid 0.2777777778vw #000000;
  }
}
.hamburger_nav1 li {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-size: 2.6041666667vw;
  font-weight: 500;
  padding: 4.6875vw 0;
  border-bottom: solid 0.1302083333vw #000000;
}
@media screen and (max-width: 520px) {
  .hamburger_nav1 li {
    font-size: 15px;
    font-size: 4.1666666667vw;
    padding: 6.6666666667vw 0;
    border-bottom: solid 0.2777777778vw #000000;
  }
}
.hamburger_nav1 li._current {
  color: #26329E;
}
.hamburger_nav2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 6.25vw;
}
@media screen and (max-width: 520px) {
  .hamburger_nav2 {
    margin-top: 8.8888888889vw;
  }
}
.hamburger_nav2 li {
  box-sizing: border-box;
  display: block;
  width: 36.4583333333vw;
  text-align: center;
  color: #26329E;
  font-size: 20px;
  font-size: 2.6041666667vw;
  font-weight: 500;
  padding: 2.8645833333vw 0;
  border: solid 0.2604166667vw #26329E;
  border-radius: 4.6875vw;
}
@media screen and (max-width: 520px) {
  .hamburger_nav2 li {
    width: 51.6666666667vw;
    font-size: 15px;
    font-size: 4.1666666667vw;
    padding: 3.8888888889vw 0;
    border: solid 0.2777777778vw #26329E;
    border-radius: 10vw;
  }
}
.hamburger_nav2 li:nth-child(2) {
  margin-top: 3.6458333333vw;
  color: #ffffff;
  background-color: #26329E;
}
@media screen and (max-width: 520px) {
  .hamburger_nav2 li:nth-child(2) {
    margin-top: 2.7777777778vw;
  }
}

#hamburger-check:checked ~ .hamburger_btn {
  background-color: #080084;
  border-color: #ffffff;
}
#hamburger-check:checked ~ .hamburger_btn .header_top {
  background-color: #080084;
}
#hamburger-check:checked ~ .hamburger_btn span:before {
  top: 0;
  height: 0.5208333333vw;
  transform: scale(0.5, 0.5) rotate(135deg);
  transition: 0.4s ease;
  background-color: #ffffff;
}
#hamburger-check:checked ~ .hamburger_btn span:after {
  top: 0;
  height: 0.5208333333vw;
  transform: scale(0.5, 0.5) rotate(-135deg);
  transition: 0.4s ease;
  background-color: #ffffff;
}
#hamburger-check:checked ~ .hamburger_btn .hamburger_open {
  display: none;
  transition: 0.4s ease;
}
#hamburger-check:checked ~ .hamburger_btn .hamburger_close {
  display: inline-block;
  color: #ffffff;
  transition: 0.4s ease;
}

#hamburger-check:checked ~ .header_top {
  background-color: #080084;
  transition: 0.4s ease;
}
#hamburger-check:checked ~ .header_top .header_title {
  color: #ffffff;
}

#hamburger-check:checked ~ .hamburger_menu {
  left: 0;
  transition: 0.4s ease;
}

.openbtn {
  position: fixed;
  top: 0;
  right: 0;
  width: 10.15625vw;
  height: 10.15625vw;
  margin: 0.78125vw;
  background-color: #ffffff;
  border: solid 0.2604166667vw #080084;
  border-radius: 50%;
  z-index: 100;
}
.openbtn_wrap {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.openbtn_wrap span {
  display: block;
  position: absolute;
  width: 5.7291666667vw;
  height: 0.2604166667vw;
  background-color: #080084;
  margin: 1.953125vw;
  top: 0.5208333333vw;
}
.openbtn_wrap span:nth-child(2) {
  top: 1.5625vw;
}
.openbtn_wrap .openbtn_txt {
  position: absolute;
  top: 3.2552083333vw;
  color: #26329E;
  margin: 1.953125vw;
  font-size: 14px;
  font-size: 1.8229166667vw;
  letter-spacing: 0.08em;
}

.gnav {
  display: none;
}

.side {
  position: fixed;
  z-index: 100;
  top: 5.625vw;
  right: 0;
  float: right;
}
.side_nav {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.side_nav li {
  position: relative;
  display: block;
  width: 5.625vw;
  height: 15.078125vw;
  color: #ffffff;
  background-color: #000000;
}
.side_nav li a {
  font-size: 14px;
  font-size: 1.09375vw;
  font-weight: 500;
  letter-spacing: 0.2em;
  display: inline-block;
  writing-mode: vertical-rl;
  line-height: 5.625vw;
  padding-top: 3.515625vw;
  padding-bottom: 2.8125vw;
}
.side_nav ._gray {
  background-color: #67635F;
}
@media screen and (max-width: 960px) {
  .side {
    display: none;
  }
}

.breadcrumbs {
  padding: 11.25vw 0 4.6875vw 9.609375vw;
  color: #ffffff;
  background-color: #26329E;
}
@media screen and (max-width: 960px) {
  .breadcrumbs {
    padding: 15.625vw 0 6.25vw 6.1197916667vw;
  }
}
@media screen and (max-width: 520px) {
  .breadcrumbs {
    padding: 22.7777777778vw 4.4444444444vw 6.6666666667vw;
  }
}
.breadcrumbs h1 {
  font-size: 30px;
  font-size: 2.34375vw;
  font-weight: 500;
}
@media screen and (max-width: 960px) {
  .breadcrumbs h1 {
    font-size: 20px;
    font-size: 2.6041666667vw;
  }
}
@media screen and (max-width: 520px) {
  .breadcrumbs h1 {
    font-size: 20px;
    font-size: 5.5555555556vw;
  }
}
.breadcrumbs p {
  font-size: 16px;
  font-size: 1.25vw;
  font-weight: 500;
  margin-top: 0.625vw;
}
@media screen and (max-width: 960px) {
  .breadcrumbs p {
    margin-top: 0.78125vw;
    font-size: 14px;
    font-size: 1.8229166667vw;
  }
}
@media screen and (max-width: 520px) {
  .breadcrumbs p {
    font-size: 14px;
    font-size: 3.8888888889vw;
  }
}
.breadcrumbs._white {
  color: #000000;
  background-color: #ffffff;
}
.breadcrumbs._white p {
  color: #26329E;
}

.contact {
  position: relative;
  background-image: url(../img/contact.jpg);
  background-size: cover;
  background-position: 60% 30%;
  z-index: 1;
}
.contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #26329E;
  opacity: 0.6;
  overflow: hidden;
  z-index: 1;
}
.contact_wrap {
  position: relative;
  padding: 6.25vw 18.75vw;
  z-index: 2;
}
@media screen and (max-width: 960px) {
  .contact_wrap {
    padding: 6.25vw 16.6666666667vw 10.4166666667vw;
  }
}
@media screen and (max-width: 520px) {
  .contact_wrap {
    padding: 8.8888888889vw 4.4444444444vw 13.3333333333vw;
  }
}
.contact .heading_c {
  color: #ffffff;
}
.contact_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 16.328125vw;
  margin-top: 6.25vw;
}
@media screen and (max-width: 960px) {
  .contact_box {
    height: 16.2760416667vw;
    margin-top: 4.1666666667vw;
  }
}
@media screen and (max-width: 520px) {
  .contact_box {
    height: 34.4444444444vw;
    margin-top: 8.8888888889vw;
  }
}
.contact_left {
  border: solid 0.15625vw #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease 0.2s;
}
@media screen and (max-width: 960px) {
  .contact_left {
    border: solid 0.2604166667vw #ffffff;
  }
}
@media screen and (max-width: 520px) {
  .contact_left {
    border: solid 0.2777777778vw #ffffff;
  }
}
.contact_left p {
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 1.6em;
  transition: ease 0.2s;
}
@media screen and (max-width: 960px) {
  .contact_left p {
    font-size: 14px;
    font-size: 1.8229166667vw;
  }
}
@media screen and (max-width: 520px) {
  .contact_left p {
    font-size: 12px;
    font-size: 3.3333333333vw;
  }
}
.contact_left p span {
  font-weight: 700;
  font-size: 36px;
  font-size: 2.8125vw;
}
@media screen and (max-width: 960px) {
  .contact_left p span {
    font-size: 24px;
    font-size: 3.125vw;
  }
}
@media screen and (max-width: 520px) {
  .contact_left p span {
    font-size: 24px;
    font-size: 6.6666666667vw;
  }
}
.contact_left .contact_arrow {
  display: block;
  width: 3.28125vw;
  height: 3.28125vw;
  margin-top: 1.875vw;
  transition: ease 0.2s;
}
@media screen and (max-width: 960px) {
  .contact_left .contact_arrow {
    width: 3.6458333333vw;
    height: 3.6458333333vw;
    margin-top: 1.5625vw;
  }
}
@media screen and (max-width: 520px) {
  .contact_left .contact_arrow {
    width: 7.7777777778vw;
    height: 7.7777777778vw;
    margin-top: 3.3333333333vw;
  }
}
.contact_left .contact_arrow._hover {
  display: none;
  transition: ease 0.2s;
}
.contact a {
  position: relative;
  z-index: 4;
}
.contact a:hover .contact_left {
  background-color: #26329E;
  border: solid 0.15625vw #26329E;
}
@media screen and (max-width: 960px) {
  .contact a:hover .contact_left {
    border: solid 0.2604166667vw #26329E;
  }
}
.contact a:hover .contact_arrow {
  transform: scale(1.16, 1.16);
}
.contact_right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.contact_right p {
  width: 100%;
  color: #26329E;
  text-align: center;
  font-size: 18px;
  font-size: 1.40625vw;
  font-weight: 500;
  line-height: 1.6em;
}
@media screen and (max-width: 960px) {
  .contact_right p {
    font-size: 14px;
    font-size: 1.8229166667vw;
  }
}
@media screen and (max-width: 520px) {
  .contact_right p {
    font-size: 12px;
    font-size: 3.3333333333vw;
  }
}
.contact_right p:nth-child(2) {
  margin-top: 1.40625vw;
}
@media screen and (max-width: 960px) {
  .contact_right p:nth-child(2) {
    margin-top: 2.0833333333vw;
  }
}
@media screen and (max-width: 520px) {
  .contact_right p:nth-child(2) {
    margin-top: 3.3333333333vw;
  }
}

.footer {
  background-color: #333333;
  padding: 3.75vw 1.25vw 0 1.25vw;
}
@media screen and (max-width: 960px) {
  .footer {
    padding: 4.1666666667vw 2.0833333333vw;
  }
}
@media screen and (max-width: 520px) {
  .footer {
    padding: 8.8888888889vw 4.4444444444vw 2.2222222222vw;
  }
}
.footer_wrap {
  display: flex;
}
@media screen and (max-width: 960px) {
  .footer_wrap {
    flex-wrap: wrap;
  }
}
.footer_logo {
  display: block;
  width: 5vw;
  height: 5vw;
}
@media screen and (max-width: 960px) {
  .footer_logo {
    display: inline-block;
    width: 6.25vw;
    height: 6.25vw;
  }
}
@media screen and (max-width: 520px) {
  .footer_logo {
    width: 13.3333333333vw;
    height: 13.3333333333vw;
  }
}
.footer_company {
  height: 15.78125vw;
  color: #ffffff;
  font-size: 17px;
  font-size: 1.328125vw;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  padding-top: 1.25vw;
  padding-left: 2.5vw;
  padding-right: 15vw;
  border-right: solid 0.078125vw #ffffff;
}
@media screen and (max-width: 960px) {
  .footer_company {
    display: block;
    font-size: 12px;
    font-size: 1.5625vw;
    width: 87.2395833333vw;
    height: 6.25vw;
    line-height: 6.25vw;
    padding: 0vw 2.6041666667vw;
    border: none;
  }
}
@media screen and (max-width: 520px) {
  .footer_company {
    font-size: 12px;
    font-size: 3.3333333333vw;
    width: 55.5555555556vw;
    height: 13.3333333333vw;
    line-height: 13.3333333333vw;
    padding: 0vw 4.4444444444vw;
  }
}
.footer_company span {
  font-size: 28px;
  font-size: 2.1875vw;
}
@media screen and (max-width: 960px) {
  .footer_company span {
    font-size: 24px;
    font-size: 3.125vw;
  }
}
@media screen and (max-width: 520px) {
  .footer_company span {
    font-size: 20px;
    font-size: 5.5555555556vw;
  }
}
.footer_right {
  display: flex;
}
@media screen and (max-width: 960px) {
  .footer_right {
    width: 100%;
    margin-top: 3.125vw;
    padding-bottom: 6.25vw;
    border-bottom: solid 0.1302083333vw #ffffff;
  }
}
@media screen and (max-width: 520px) {
  .footer_right {
    flex-direction: column;
    margin-top: 8.8888888889vw;
    padding-bottom: 8.8888888889vw;
  }
}
.footer_honsya {
  color: #ffffff;
  padding-left: 2.96875vw;
}
@media screen and (max-width: 960px) {
  .footer_honsya {
    padding-left: 6.25vw;
  }
}
@media screen and (max-width: 520px) {
  .footer_honsya {
    padding-left: 0;
  }
}
.footer_honsya h3 {
  margin-top: 1.40625vw;
  margin-bottom: 1.40625vw;
  font-size: 16px;
  font-size: 1.25vw;
  font-weight: 500;
}
@media screen and (max-width: 960px) {
  .footer_honsya h3 {
    margin-top: 0vw;
    margin-bottom: 1.0416666667vw;
    font-size: 16px;
    font-size: 2.0833333333vw;
  }
}
@media screen and (max-width: 520px) {
  .footer_honsya h3 {
    margin-bottom: 4.4444444444vw;
    font-size: 16px;
    font-size: 4.4444444444vw;
  }
}
.footer_honsya p {
  font-size: 12px;
  font-size: 0.9375vw;
  font-weight: 400;
  line-height: 2em;
}
@media screen and (max-width: 960px) {
  .footer_honsya p {
    font-size: 12px;
    font-size: 1.5625vw;
  }
}
@media screen and (max-width: 520px) {
  .footer_honsya p {
    font-size: 12px;
    font-size: 3.3333333333vw;
  }
}
.footer_shiten {
  color: #ffffff;
  padding-left: 7.8125vw;
}
@media screen and (max-width: 960px) {
  .footer_shiten {
    padding-left: 13.0208333333vw;
  }
}
@media screen and (max-width: 520px) {
  .footer_shiten {
    padding-left: 0;
    margin-top: 8.8888888889vw;
  }
}
.footer_shiten h3 {
  margin-top: 1.40625vw;
  margin-bottom: 1.40625vw;
  font-size: 16px;
  font-size: 1.25vw;
  font-weight: 500;
}
@media screen and (max-width: 960px) {
  .footer_shiten h3 {
    margin-top: 0vw;
    margin-bottom: 1.0416666667vw;
    font-size: 16px;
    font-size: 2.0833333333vw;
  }
}
@media screen and (max-width: 520px) {
  .footer_shiten h3 {
    margin-bottom: 4.4444444444vw;
    font-size: 16px;
    font-size: 4.4444444444vw;
  }
}
.footer_shiten p {
  font-size: 12px;
  font-size: 0.9375vw;
  font-weight: 400;
  line-height: 2em;
}
@media screen and (max-width: 960px) {
  .footer_shiten p {
    font-size: 12px;
    font-size: 1.5625vw;
  }
}
@media screen and (max-width: 520px) {
  .footer_shiten p {
    font-size: 12px;
    font-size: 3.3333333333vw;
  }
}
.footer_copyright {
  color: #ffffff;
  font-size: 10px;
  font-size: 0.78125vw;
  padding: 1.40625vw 1.25vw;
}
@media screen and (max-width: 960px) {
  .footer_copyright {
    font-size: 10px;
    font-size: 1.3020833333vw;
    padding: 3.6458333333vw 0 0;
    text-align: center;
  }
}
@media screen and (max-width: 520px) {
  .footer_copyright {
    font-size: 10px;
    font-size: 2.7777777778vw;
    padding: 2.2222222222vw 0 0;
    text-align: center;
  }
}