@use "../../global" as *;

.thanks {
  padding: vw_p(80) vw_p(107);
  background-color: $white;

  @include mq(tb) {
    padding: vw_t(48) vw_t(92) vw_t(48);
  }

  @include mq(sp) {
    padding: vw_s(32) vw_s(16) vw_s(32);
  }
  
  h3 {
    @include fzp(24);
    text-align: center;
    font-weight: 500;
    line-height: 2em;
    
    @include mq(tb) {
      @include fzt(20);
    }
    
    @include mq(sp) {
      @include fzs(16);
    }
  }
  
  p {
    @include fzp(16);
    text-align: center;
    font-weight: 500;
    line-height: 2em;
    margin-top: vw_p(60);
    
    @include mq(tb) {
      margin-top: vw_t(32);
      @include fzt(14);
    }
    
    @include mq(sp) {
      margin-top: vw_s(16);
      @include fzs(12);
    }
    
    span {
      display: inline;
      
      @include mq(sp) {
        display: none;
      }
    }
    
    ._sp {
      display: none;
      
      @include mq(sp) {
        display: inline;
      }
    }
  }
}