@use "../../global" as *;

.category {
  position: relative;
  display: block;
  padding: vw_p(74) vw_p(123) 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  @include mq(tb) {
    padding: vw_t(48) vw_t(16) 0 vw_t(40);
  }
  
  @include mq(sp) {
    justify-content: left;
    padding: vw_s(32) vw_s(16) 0 vw_s(29);
  }
  
  li {
    @include fzp(16);
    color: $gray;
    padding-bottom: vw_p(24);
    margin-right: vw_p(32);
    
    @include mq(tb) {
      @include fzt(14);
      padding-bottom: vw_t(18);
      margin-right: vw_t(10);
    }
    
    @include mq(sp) {
      @include fzs(14);
      padding-bottom: vw_s(14);
      margin-right: vw_s(16);
    }
  }

  ._current {
    position: relative;
    color: $blue;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      background-color: $blue;
      left: 0;
      height: vw_p(1);
      bottom: vw_p(22);
      
      @include mq(tb) {
        height: vw_t(1);
        bottom: vw_t(15);
      }
      
      @include mq(sp) {
        height: vw_s(1);
        bottom: vw_s(11);
      }
    }
  }
  
  &::before {
    position: absolute;
    content: "";
    display: block;
    width: vw_p(6);
    height: vw_p(82);
    background-color: $blue;
    top: vw_p(68);
    left: vw_p(90);
    
    @include mq(tb) {
      top: vw_t(44);
      left: vw_t(16);
      width: vw_t(4);
      height: vw_t(60);
    }
    
    @include mq(sp) {
      top: vw_s(32);
      left: vw_s(16);
      width: vw_s(2);
      height: vw_s(170);
    }
  }
}