@use "../../global" as *;

.category {
  position: relative;
  display: block;
  padding: vw_p(74) vw_p(123) 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    @include fzp(16);
    color: $gray;
    padding-bottom: vw_p(24);
    margin-right: vw_p(32);
  }

  ._current {
    position: relative;
    color: $blue;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: vw_p(1);
      background-color: $blue;
      left: 0;
      bottom: vw_p(22);
    }
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: vw_p(6);
    height: vw_p(82);
    background-color: $blue;
    top: vw_p(68);
    left: vw_p(90);
  }
}