@use "../../global" as *;

.fv {
  position: relative;
  width:100vw;
  height: vw_p(460);
  background-image: url(../img/recruit.jpeg);
  background-size: cover;
  // background-attachment: fixed;

  &_heading {
    position: absolute;
    color: $white;
    @include fzp(48);
    font-weight: 600;
    left: vw_p(75);
    bottom: vw_p(75);
  }
}