@use "../../global" as *;

.msg {
  padding: vw_p(80) vw_p(131);

  &_wrap {
    width: 100%;
    padding: vw_p(48) vw_p(48);
    background-color: $lGray;

    h3 {
      position: relative;
      
      p {
        position: relative;
        display: inline-block;
        @include fzp(20);
        font-weight: 600;
        line-height: vw_p(32);
        margin: 0;

        &::after{
          content: "";
          position: absolute;
          left: 0;
          bottom: vw_p(0);
          display: block;
          width: 100%;
          height: vw_p(1);
          background-color: $dGray
        }
      }

      img {
        display: inline-block;
        width: vw_p(32);
        height: vw_p(32);
        margin-right: vw_p(4)
      }

    }

    p {
      @include fzp(16);
      line-height: 2em;
      margin-top: vw_p(32);
    }
  }
}