@use "../../global" as *;

.recruit {
  width: 100vw;
  position: relative;

  &_wrap {
    padding: vw_p(100) vw_p(123) vw_p(100);
    background-color: $white;
    
    @include mq(tb) {
      padding: vw_t(80) vw_t(80) vw_t(80) vw_t(48);
    }
    
    @include mq(sp) {
      padding: vw_s(64) vw_s(16) vw_s(48) vw_s(16);
    }
  }
  
  &_table {
    padding: vw_p(64) vw_p(74) 0 vw_p(80);
    width: 100%;
    
    @include mq(tb) {
      padding: vw_t(32) vw_t(0) vw_t(0) vw_t(32);
    }
    
    @include mq(sp) {
      padding: vw_s(24) vw_s(0) vw_s(0) vw_s(0);
    }
    
    tr {
      width: 100%;
      border-top: solid vw_p(1) $black;
      border-bottom: solid vw_p(1) $black;
      
      @include mq(tb) {
        border-top: solid vw_t(1) $black;
        border-bottom: solid vw_t(1) $black;
      }
      
      @include mq(sp) {
        border-top: solid vw_s(1) $black;
        border-bottom: solid vw_s(1) $black;
      }
    }
    
    th {
      width: vw_p(339);
      padding: vw_p(30) vw_p(30) vw_p(30) vw_p(8);
      @include fzp(16);
      font-weight: 400;
      line-height: 1.8;
      
      @include mq(tb) {
        @include fzt(14);
        width: vw_t(210);
        padding: vw_t(14) vw_t(14) vw_t(14) vw_t(7);
      }
      
      @include mq(sp) {
        @include fzs(10);
        width: vw_s(110);
        padding: vw_s(12) vw_s(12) vw_s(12) vw_s(0);
      }
    }
    
    td {
      width: vw_p(381);
      padding: vw_p(30) vw_p(30) vw_p(30) 0;
      @include fzp(16);
      line-height: 1.8;
      
      @include mq(tb) {
        @include fzt(14);
        width: vw_t(285);
        padding: vw_t(14) vw_t(14) vw_t(14) vw_t(7);
      }
      
      @include mq(sp) {
        @include fzs(10);
        width: vw_s(120);
        padding: vw_s(12) vw_s(8) vw_s(12) vw_s(0);
      }
      
      span {
        display: none;
        
        @include mq(sp) {
          display: inline;
        }
      }
    }
    
    ._short {
      width: vw_p(240);
      
      @include mq(tb) {
        width: vw_t(180);
      }
      
      @include mq(sp) {
        width: vw_s(100);
      }
    }
  }

  &_parallax {
    position: relative;
    width: 100vw;
    height: vw_p(240);
    background-size: cover;
    background-position: center;
    

    @include mq(tb) {
      height: vw_t(144)
    }

    &.par_1 {
      background-image: url(../img/parallax01.jpg);
    }

    &.par_2 {
      background-image: url(../img/parallax02.jpg);
    }
  }
}