@use "../../global" as *;

.saiyou {
  padding: 0 vw_p(123) vw_p(48);
  background-color: $white;

  @include mq(tb) {
    padding: vw_t(16) vw_t(47) 0;
  }

  @include mq(sp) {
    padding: vw_s(0) vw_s(16) 0;
  }

  &_msg {
    @include fzp(16);
    line-height: 2em;
    margin-bottom: vw_p(48);

    @include mq(tb) {
      @include fzt(14);
      margin-bottom: vw_t(32);
    }

    @include mq(sp) {
      @include fzs(13);
      margin-bottom: vw_s(24);
    }
  }

  &_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

    li {
      position: relative;
      overflow: hidden;
      width: vw_p(340);
      height: vw_p(220);
      
      @include mq(tb) {
        width: vw_t(216);
        height: vw_t(144);
      }
      
      @include mq(sp) {
        width: vw_s(106);
        height: vw_s(70);
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        transition: .4s;
        object-fit: cover;
      }
        
      &:hover {

        img {
          transform: scale(1.08);
          opacity: .9;
        }
      }

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        @include fzp(22);
        font-weight: 700;
        letter-spacing: .08em;
        
        @include mq(tb) {
          @include fzt(16);
        }
        
        @include mq(sp) {
          @include fzs(12);
          display: inline-block;
          width: vw_s(80);
          text-align: center;
        }
      }
    }
  }
}