@use "../../global" as *;

.msg {
  position: relative;
  z-index: -1;
  padding: vw_p(126) vw_p(123);
  background-color: $blue;
  color: $white;
  font-weight: 600;
  text-align: center;

  h2 {
    @include fzp(38);
  }

  &_sub {
    @include fzp(18);
    line-height: 2em;
    margin-top: vw_p(40);
  }
  
  &_txt {
    text-align: left;
    @include fzp(16);
    font-weight: 400;
    line-height: 2.2em;
    margin-top: vw_p(60);
  }

  &::after {
    content: "";
    position: absolute;
    top: vw_p(254);
    left: vw_p(-120);
    z-index: -1;
    width: vw_p(400);
    height: vw_p(400);
    background-image: url(../img/about1.jpg);
    background-size: contain;
  }
}