@use "../../global" as *;

.technology {
  position: relative;
  background-color: $lGray;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: vw_p(567);
    background-color: $white;
  }

  &_wrap {
    position: relative;
    z-index: 2;
    padding-top: vw_p(80);
    padding-left: vw_p(121);
    padding-right: vw_p(121);
  }

  video {
    display: block;
    width: vw_p(822);
    height: vw_p(493);
    margin: vw_p(100) auto vw_p(128);
  }
  
  &_nav {
    display: block;
    width: vw_p(822);
    height: vw_p(560);
    margin: 0 auto;
    // padding-bottom: vw_p(128);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: vw_p(8) vw_p(8);

    li {
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;
      background-size: cover;
      transition: .3s ease;

      img {
        display: block;
        width: 100%;
        height: 100%;
        transition: .4s;
        object-fit: cover;

        &:hover {
          transform: scale(1.06);
          opacity: .8;
        }
      }


      p {
        position: absolute;
        width: 100%;
        bottom: 0;
        color: $white;
        @include fzp(18);
        font-weight: 600;
        text-align: center;
        letter-spacing: .08em;
        line-height: vw_p(52);
        background-color: rgba($color: $black, $alpha: .6);
      }
    }
  }
}