@use "../global" as *;

.contact {
  position: relative;
  background-image: url(../img/contact.jpg);
  background-size: cover;
  background-position: 60% 30%;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $blue;
    opacity: .6;
    overflow: hidden;
    z-index: 1;
  }

  &_wrap {
    position: relative;
    padding: vw_p(80) vw_p(240);
    z-index: 2;
  }

  .heading_c {
    color: $white;
  }

  &_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: vw_p(209);
    margin-top: vw_p(80);
  }
  
  &_left {
    border: solid vw_p(2) $white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease .2s;

    p {
      width: 100%;
      color: $white;
      text-align: center;
      @include fzp(18);
      font-weight: 600;
      line-height: 1.6em;
      transition: ease .2s;

      span {
       @include fzp(36);
      }
    }

    .contact_arrow {
      display: block;
      width: vw_p(42);
      height: vw_p(42);
      margin-top: vw_p(24);
      transition: ease .2s;

       &._hover {
        display: none;
        transition: ease .2s;
       }
    }
  }

  a {
    position: relative;
    z-index: 4;
  }

  a:hover {

    .contact_left {
      background-color: $blue;
    border: solid vw_p(2) $blue;
    }

    p {
      // color: $blue;
      // transform: scale( .9, .9);

      // span {
      //   color: $blue;
      // }
    }

    .contact_arrow {
      transform: scale(1.16, 1.16);

      // &._hover {
      //   display: block;
      // }
    }
  }

  &_right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
  
    p {
      width: 100%;
      color: $blue;
      text-align: center;
      @include fzp(18);
      font-weight: 600;
      line-height: 1.6em;
    }

    p:nth-child(2) {
      margin-top: vw_p(24);
    }
    
  }
}